.day-hours {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.hours {
  margin-top: 9rem;
  margin-bottom: 0;
}
.todo {
  display: flex;
  flex-direction: column;
}

.todo-line {
  margin: 0;
  color: rgba(255, 34, 0);
  background-color: rgba(255, 34, 0, 0.536);
  height: 1rem;
}
.todo-interaction {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.btn-edit {
  background: url(https://cdn-icons-png.flaticon.com/512/1159/1159633.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  border: none;
}
.btn-close {
  background: url(https://cdn-icons-png.flaticon.com/512/2961/2961937.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  border: none;
}
p,
.btn-close,
.btn-edit,
.input-edit {
  margin-top: auto;
  margin-bottom: auto;
}
p,
.input-edit {
  font-size: 1.5rem;
  background-color: transparent;
}
.btn-close,
.btn-edit {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.input-edit {
  width: max-content;
  border: none;
  padding: 0;
}
.input-edit {
  outline-width: 0px;
}
